html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 19, 1) 35%,
    rgba(11, 115, 136, 1) 100%
  );

  background-size: 100%;
  background-repeat: no-repeat;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
    to right bottom,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 19, 1) 35%,
    rgba(11, 115, 136, 1) 75%
  );
}

.navbar-container {
  z-index: 9;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #223a58;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #08b0da;
}
