.gallery-div {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 60px;
}

.frog-div {
  width: 550px;
}

#penguin {
  height: 380px;
  width: 320px;
  position: absolute;
  left: 100px;
  z-index: -1;
}

.intro-div {
  width: 30%;
  text-align: left;
  font-family: "Oswald";
}

.intro-div2 {
  width: 30%;
  text-align: left;
  font-family: "Oswald";
}

.intro-div h3,
.intro-div2 h3 {
  font-size: 40px;
  font-weight: 300;
}
