* {
  font: "Open Sans", arial, sans-serif;
}

.projects-div {
  height: 100vh;
  margin-bottom: 280px;
}

.projects-container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
  height: 100vh;
  margin-bottom: 100px;
}

.projects-container h1 {
  position: relative;
  margin-bottom: 45px;
  font-size: 44px;
  font-family: "Oswald";
  text-transform: uppercase;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;

  &:hover {
    flex: 7;
  }
}

.item-1 {
  background-image: url("quotebot.png");
}

.item-2 {
  background-image: url("blog.png");
}

.item-3 {
  background-image: url("dashboard.png");
}

.item-4 {
  background-image: url("responsebot.png");
}

.item-5 {
  background-image: url("ccsystem.png");
}
